<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.UpdateCheckerBase>
        <SkipVersion>False</SkipVersion>
        <CheckedUpdate>0.0</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
      <Colora.Properties.Settings>
        <CurrentColor>#FFBCDDEE</CurrentColor>
        <LatestColors>
          <ArrayOfColor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Color>
              <A>255</A>
              <R>249</R>
              <G>221</G>
              <B>152</B>
              <ScA>1</ScA>
              <ScR>0.9473065</ScR>
              <ScG>0.7230551</ScG>
              <ScB>0.313988715</ScB>
            </Color>
            <Color>
              <A>255</A>
              <R>197</R>
              <G>149</G>
              <B>34</B>
              <ScA>1</ScA>
              <ScR>0.5583404</ScR>
              <ScG>0.300543785</ScG>
              <ScB>0.0159962941</ScB>
            </Color>
          </ArrayOfColor>
        </LatestColors>
      </Colora.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Topmost>False</Topmost>
      </Bluegrams.Application.CustomSettings>
    </Roaming>
    <PC_DESKTOP-K54QTG2>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Colora.Properties.Settings>
        <ScreenPickerZoom>3</ScreenPickerZoom>
        <AdvancedColorsVisible>True</AdvancedColorsVisible>
        <RGBRangeFloat>False</RGBRangeFloat>
        <ClipboardAutoCopy>False</ClipboardAutoCopy>
        <ScreenPickerVisible>True</ScreenPickerVisible>
        <IconBarVisible>True</IconBarVisible>
        <PaletteWindowSnap>True</PaletteWindowSnap>
        <ColorSamplingMode>Single</ColorSamplingMode>
        <ColorHistoryVisible>False</ColorHistoryVisible>
        <ColorHistoryLength>10</ColorHistoryLength>
        <GlobalShortcut>Ctrl+Alt+C</GlobalShortcut>
      </Colora.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>NaN</Width>
        <Height>NaN</Height>
        <Left>509.33333333333331</Left>
        <Top>196</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_DESKTOP-K54QTG2>
  </userSettings>
</configuration>